<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<!-- Official NuGet.org feed - needed for Oracle.ManagedDataAccess.Core -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

		<!-- Your existing Azure DevOps feed for DAB internal packages -->
		<add key="data_api_builder_build_packages" value="https://pkgs.dev.azure.com/sqldab/fcb212b3-b288-4c9e-b55a-5842a268b16d/_packaging/data_api_builder_build_packages/nuget/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="Oracle.ManagedDataAccess.Core" />
		</packageSource>
		<packageSource key="data_api_builder_build_packages">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
